/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.stream-funds-container {
  border: solid 1px lightgray;
  border-radius: 10px;
  padding: 21px 18px 3px;
}

@-webkit-keyframes move_points {
  0% { margin-top: 0px; opacity: 1; }
  25%, 100% { margin-top: -10px; opacity: 0; }
}
@keyframes move_points {
  0% { margin-top: 0px; opacity: 1; }
  25%, 100% { margin-top: -10px; opacity: 0; }
}

.countdown-funds {
  color: #ff4977;
  font-size: 1rem;
  position: absolute;
  animation-delay: 4s;
  -webkit-animation: move_points 3s ease-out infinite;
  animation: move_points 3s ease-out infinite;
}

.bet-bot-container {
  margin: 0 auto !important;
  margin-top: 25vh !important;
}